<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>We need access to your Documents folder to copy files.</string>
	<key>NSDownloadsUsageDescription</key>
	<string>We need access to your Downloads folder to copy files.</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>We need access to removable volumes (USB drives) to copy files.</string>
</dict>
</plist>
